---
---
@charset "utf-8";

$color-1:       #2D4064;
$color-2:       #5070B1;
$color-3:       #E7DFCD;

$gray-darkest:  #383838;
$gray-darker:   #585858;
$gray-normal:   #808080;
$gray-light:    #A8A8A8;
$gray-lighter:  #E8E8E8;
$gray-lightest: #F8F8F8;

$font-body:     'Roboto Slab', serif;
$font-header:   'Lato', sans-serif;
$font-script:   'Parisienne', cursive;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "content",
    "feature",
    "header-full",
    "footer-basic",
    "landing",
    "themes"
;
