{% assign numPanels = include.panels | size %}
{% assign numCols = 12 | divided_by: numPanels | floor %}
<div class="panel-list">
    <div class="row">
        {% if include.main %}
        <div class="col-sm-4">
            {{ include.main | markdownify }}
        </div>
        {% endif %}
        <div class="col-sm-{% if include.main %}8{% else %}12{% endif %}">
            <div class="row">
                {% for panel in include.panels %}
                <div class="col-sm-{{ numCols }}">
                    {% include feature-panel.html title=panel.title content=panel.content link=panel.link link-text=panel.link-text %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
