<div class="title-bar text-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 hidden-xs text-right">
                    <ul class="nav-list list-inline">
                        <li>
                            <a href="#">Our story</a>
                        </li>
                        <li>
                            <a href="#">Wedding party</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 navbar-header">
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#main-nav"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1 class="title">
                        <a href="/">
                            <span class="name">
                                Cristina
                            </span>
                            <span class="ampersand">
                                &amp;
                            </span>
                            <span class="name">
                                Zachary
                            </span>
                        </a>
                    </h1>
                </div>
                <div class="col-sm-4 hidden-xs text-left">
                    <ul class="nav-list list-inline">
                        <li>
                            <a href="#">Big day</a>
                        </li>
                        <li>
                            <a href="#">Registry</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="visible-xs-block">
                <div id="main-nav" class="collapse navabar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Our story</a></li>
                        <li><a href="#">Wedding party</a></li>
                        <li><a href="#">Big day</a></li>
                        <li><a href="#">Registry</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
