<nav id="site-nav" class="navbar navbar-default navbar-custom navbar-fixed-top header-text">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main-menu" aria-expanded="false">
                <span class="sr-only">
                    {{ site.data.contents.toggle-navigation | escape }}
                </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ site.data.navigation.lookup.home.link }}" class="navbar-brand text-script">
                {{ site.title | escape }}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="nav-main-menu">
            <ul class="nav navbar-nav pull-right">
                {% for key in site.data.navigation.main %}
                {% assign nav = site.data.navigation.lookup[key] %}
                {% if nav %}
                <li><a href="{{ nav.link }}">{{ nav.title | escape }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>