
body {
    padding-top: 50px;
    background-color: white;
}

/* Font styling */

body
.body-text {
    font-family: $font-body;
}

h1, h2, h3, h4, h5, h6,
.header,
.header-text {
    font-family: $font-header;
}

.text-script {
    font-family: $font-script;
}