
body {
    background-color: $gray-darkest;
    color: $gray-darker;
    position: relavite;

    .content-wrapper {
        background-color: $gray-lightest
    }
}

/* Font styling */

body,
.body-text,
.text-body {
    font-family: $font-body;
}

h1, h2, h3, h4, h5, h6,
.header,
.header-text,
.text-header {
    font-family: $font-header;
}

.text-script {
    font-family: $font-script;
}

/* Color styling */

.bg-color-1 {
    background-color: $color-1;
}

.bg-color-2 {
    background-color: $color-2;
}

.bg-color-3 {
    background-color: $color-3;
}

.bg-gray-darkest {
    background-color: $gray-darkest;
}

.bg-gray-darker {
    background-color: $gray-darker;
}

.bg-gray-normal {
    background-color: $gray-normal;
}

.bg-gray-light {
    background-color: $gray-light;
}

.bg-gray-lighter {
    background-color: $gray-lighter;
}

.bg-gray-lightest {
    background-color: $gray-lightest;
}
