
.page-section {

    p {
        line-height: 1.5em;
    }

    .header-wrapper {
        background-color: $color-1;
        border-top: 1px solid $color-3;
        border-bottom: 1px solid $color-3;
        color: $gray-lightest;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;

        .header {
            font-size: 2.5em;
            margin: 0;
            margin-bottom: 20px;
            margin-top: 10px;
            padding-top: 20px;
            text-transform: capitalize;
        }
    }

    hr {
        margin-top: 3em;
        margin-bottom: 3em;
    }
}

.panel-list {
    background-color: $color-3;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    .panel-feature {
        background-color: transparent;
        border: none;
        box-shadow: none;
        margin-bottom: 0;

        .panel-heading {
            background-color: $color-1;
            border-color: $color-3;
            border-radius: 0px;

            .panel-title {
                font-size: 1.5em;
                color: $gray-lightest;
                text-align: center;
            }
        }
    }
}

/* generate a CSS box */
.fill-box {
    border: 1px solid $gray-light;
    display: block;
    width: 100%;
    height: 150px;
}

/* increase the font size of text block */
.text-large {
    font-size: 2em;
}

.link-more {
    font-family: $font-header;
    font-size: 1.3em;
    text-align: right;

    a.btn {
        display: inline-block;
        font-size: 1.3em;
        width: 100%;

        .glyphicon {
            float: right;
        }
    }
}

.map {
    border: 1px solid $gray-darkest;
    margin: 1em 0 1.5em;
    width: 100%;
}

dl.timeline {
    background-color: $color-1;
    font-size: 1.2em;
    padding: 0;

    dt,
    dd {
        border: none;
        padding-top: 10px;
    }

    dt {
        background-color: $color-1;
        clear: left;
        color: $gray-lightest;
        float: left;
        font-family: $font-header;
        font-weight: 400;
        padding-bottom: 10px;
        overflow: hidden;
        text-align: center;
        text-overflow: clip;
        white-space: normal;
        width: 60px;
    }

    dd {
        background-color: $color-3;
        color: $gray-darkest;
        border-left: 2px solid $color-1;
        margin-left: 60px;
        padding-left: 10px;
    }
}

.address {
    background-color: $color-3;
    border-left: 25px solid $color-1;
    color: $gray-darkest;
    padding-left: 10px;
}

.two-col {
    .header {
        border-bottom: 1px solid $gray-lighter;
        color: $color-1;
        font-size: 1.8em;
        padding-bottom: 3px;
    }

    .place {
        font-size: 1.3em;
    }
}

.post {
    footer {
        font-size: .9em;
        margin-top: 1.5px;
    }
}

@media (min-width: 768px) {
    dl.timeline {
        margin: 20px;
    }

    .address {
        border-left-width: 60px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .panel-list {
        padding: 20px 0;

        .panel-feature .panel-heading {
            border-radius: 4px;
        }
    }
}

@media (max-width: 768px) {
    .panel-list {
        .col-sm-4 {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
