
#site-footer {
    border: none;
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 10px;

    .header {
        font-size: 1.5em;
    }

    .say-hello {
        font-size: 1.2em;
    }

    &,
    & > .content-wrapper {
        background-color: $color-1;
        color: $gray-lighter;
    }

    a {
        &,
        &:link,
        &:visited {
            color: $gray-lighter;
        }

        &:hover,
        &:active {
            color: $gray-lightest;
            text-decoration: underline;
        }
    }
}
