
#site-footer {
    border-bottom: 1px solid $gray-lighter;

    a {
        &,
        &:link,
        &:visited {
            color: $gray-light;
        }

        &:hover,
        &:active {
            color: $gray-lightest;
            text-decoration: underline;
        }
    }
}

.border-photo-1 {
    background-image: url('../assets/photo-1441644599508-24ae08965c5c.jpg');
    background-color: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 1px solid $color-3;
    padding-top: 60px;

    .content-wrapper {
        /*margin-top: 60px;*/
    }
}
