.jumbotron.landing-page {
    border: 1px solid $gray-lighter;
    margin: 0;

    .page-header {
        border: none;
        color: $gray-darkest;
        margin-top: 70px;

        .text-sub {
            font-size: 31px;
        }
    }
}

.landing-page-wrapper {
    background-color: $gray-lightest;
    border: 1px solid $gray-lighter;
    border-top: none;
}

@media (min-width: 768px) {
    .landing-page-wrapper {
        padding: 25px;
        padding-top: 0;
    }
}
