.background-photo-1 {
    background-image: url('../assets/Dalton-41_w.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-photo-2 {
    background-image: url('../assets/Dalton-74_w.jpg');
    background-position: center;
}

.background-photo-3 {
    background-image: url('../assets/Dalton-48_w.jpg');
    background-position: center;
}

.background-photo-4 {
    background-image: url('../assets/Dalton-1_w.jpg');
    background-position: center;
}

.background-solid-1 {
    background-color: $gray-lightest;
}

/* block space for a feature image (set separately) */
.feature-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    margin-bottom: 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .feature-image {
        height: 390px;
    }
}
