.background-photo-1 {
    background-image: url('../assets/Dalton-41_w.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-solid-1 {
    background-color: $gray-lightest;
}

/* block space for a feature image (set separately) */
.feature-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}
