#welcomtron {
    background-color: transparent;
    height: 575px;
    margin: 0;

    .page-header {
        border: none;
        color: $gray-darkest;

        .line-1 {
            font-size: 63px;
        }

        .line-2 {
            font-size: 21px;
        }
    }
}