---
layout: default
---
<header id="site-header">
    {% include nav-site.html %}
</header>

<div id="main-body">
    <section class="page-section">
        <header class="header-wrapper">
            <div class="container">
                <h2 class="header">
                    {{ page.title }}
                </h2>
            </div>
        </header>
        <div class="container section-content">
            {{ content }}
        </div>
    </section>
</div>

<footer id="site-footer" class="border-photo-1">
    <div class="content-wrapper">
        {% include footer-basic.html %}
    </div>
</footer>