---
layout: default
---

<header class="title-bar text-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 hidden-xs text-right">
                    <ul class="nav-list list-inline">
                        <li>
                            <a href="#">Our story</a>
                        </li>
                        <li>
                            <a href="#">Wedding party</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 navbar-header">
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#main-nav"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1 class="title">
                        <span class="name">
                            Cristina
                        </span>
                        <span class="ampersand">
                            &amp;
                        </span>
                        <span class="name">
                            Zachary
                        </span>
                    </h1>
                </div>
                <div class="col-sm-4 hidden-xs text-left">
                    <ul class="nav-list list-inline">
                        <li>
                            <a href="#">Big day</a>
                        </li>
                        <li>
                            <a href="#">Registry</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="visible-xs-block">
                <div id="main-nav" class="collapse navabar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Our story</a></li>
                        <li><a href="#">Wedding party</a></li>
                        <li><a href="#">Big day</a></li>
                        <li><a href="#">Registry</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="landing-page-wrapper">
    <div id="page-landing" class="jumbotron landing-page{% if page.theme %} {{ page.theme }}{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function () {
/**
 * @module com.christhierer.dev.page.fitBackground
 * Resize a container to completely fill the window.
 */

/**
 * @constant
 * The `window` object wrapped in a jQuery instance.
 */
const viewport = $(window);

/**
 * @constant
 * The element that should be sized to fit the entire screen.
 */
const container = $('#page-landing');

/**
 * @constant
 * Number of pixels to offset the height of the container by, to account for
 * padding, borders, etc.
 * @todo Make this dynamic.
 */
const offset = 94;

/**
 * Resize the background to fill the entire height of the window.
 */
function fitBackground () {
    container.css('height', viewport.height() - offset);
}

viewport.resize(fitBackground).trigger('resize');
});
</script>
