---
layout: default
---
<div class="landing-page-wrapper">
    <div id="page-landing" class="jumbotron landing-page{% if page.theme %} {{ page.theme }}{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function () {
/**
 * @module com.christhierer.dev.page.fitBackground
 * Resize a container to completely fill the window.
 */

/**
 * @constant
 * The `window` object wrapped in a jQuery instance.
 */
const viewport = $(window);

/**
 * @constant
 * The element that should be sized to fit the entire screen.
 */
const container = $('#page-landing');

/**
 * @constant
 * Number of pixels to offset the height of the container by, to account for
 * padding, borders, etc.
 * @todo Make this dynamic.
 */
const offset = 94;

/**
 * Resize the background to fill the entire height of the window.
 */
function fitBackground () {
    container.css('height', viewport.height() - offset);
}

viewport.resize(fitBackground).trigger('resize');
});
</script>
