---
layout: basic
---
{% assign posts = site.categories[page.category] | reverse %}
{% assign numPosts = posts | size %}
{% assign numRows = numPosts | divided_by: 2 | ceil | minus: 1 %}
{% if page.theme %}
<div class="feature-image {{page.theme}}"></div>
{% endif %}
{% if page.feature-panels %}
{% include feature-panels.html panels=page.feature-panels %}
{% endif %}
{{ content }}
{% for i in (0..numRows) %}
{% assign offset = i | times:2 %}
<div class="row two-col">
    {% for post in posts limit:2 offset:offset %}
    <div class="col-sm-6">
        {% include post.html %}
    </div>
    <hr class="visible-xs-block" />
    {% endfor %}
</div>
<hr class="hidden-xs" />
{% endfor %}
